
@using MyOnlineNotesEntities

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body>

    @{ 
        OnlineNoteUser user = null;

        if (Session["login"] != null)
        {
            user = Session["login"] as OnlineNoteUser;
        }


    }


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">
                <span class="fas fa-book-reader"></span>
                My Online Notes
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @* Menü *@
        <div class="dropdown">
            @if (user != null)
            {
                <li class="dropdown">
                    <a href="/Note/MyNotes" class="dropdown-toggle btn btn-danger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-wrench mr-1"></span>
                        Yönetim
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Note/AddNew"><span class=""></span>Not Ekle</a></li>
                        <li role="separator" class="dropdown-divider"><a href="#"></a></li>
                        <li><a href="/Note/MyNotes"><span class=""></span>Notlarım</a></li>
                        <li><a href="/Note/MyLikedNotes"><span class=""></span>Beğendiklerim</a></li>

                        @if (user.IsAdmin)
                        {
                            <li role="separator" class="dropdown-divider"><a href="#"></a></li>
                            <li><a href="/Category/AddNew"><span class=""></span>Kategori Ekle</a></li>
                            <li><a href="/Category/List"><span class=""></span>Kategoriler</a></li>
                        }
                    </ul>
                </li>
            }
        </div>
            <div class="collapse navbar-collapse ml-2" id="navbarResponsive">
                <ul class="navbar-nav float-md-left">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/MostLiked">
                            <span class="far fa-heart mr-1"></span>En Beğenilenler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">
                            <span class="fas fa-arrow-circle-down mr-1"></span>Son Yazılar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">
                            <span class="fas fa-address-card mr-1"></span>Hakkımızda
                        </a>
                    </li>
                </ul>
            </div>



            @* Login *@
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Üye Ol / Giriş Yap
                </button>
                <div class="dropdown-menu dropdown-menu-right ">
                    @if (user == null)
                    {
                        <a href="/Home/Login" class="btn-danger dropdown-item fas fa-sign-in-alt mr-1">Giriş</a>
                        <a href="/Home/Register" class="btn-danger dropdown-item fas fa-sign-in-alt mr-1">Üye Ol</a>
                    }
                    else
                    {
                        <a href="/Home/Logout" class="btn-danger dropdown-item fas fa-sign-in-alt mr-1">Çıkış</a>
                    }
                </div>
            </div>
            @if (user != null)
            {
                <div class="mr-3 ml-3">
                    <a href="/Home/ShowProfile"><span class="fas fa-user-tie mr-1"></span>@user.Name  @user.Surname</a>
                </div>
            }



        </div>
    </nav>


    @RenderBody()

    @RenderSection("footer",required:false)




</body>

</html>
