@using MyOnlineNotes.BusinessLayer
@using MyOnlineNotesEntities

@{ 
    CategoryManager cm = new CategoryManager();
    List<Category>  list = cm.GetCategories();


}

    <div class="list-group">

        <a href="/Home/Index" class="list-group-item"><span class="fas fa-arrow-circle-right mr-1"></span>Tümü</a>


        @foreach (var cat in list)
        {
            <a href="/Category/Select/@cat.Id" title="@cat.Description" class="list-group-item"><span class="fas fa-arrow-circle-right mr-1"></span>@cat.Title</a>

        }


    </div>