@using MyOnlineNotesEntities
@model List<Comment>


    <div class="media">
        <div class="align-self-start mr-3">
            <div class="media-object">
                <br />
                <span class="glyphicon glyphicon-comment">
                </span>
            </div>
        </div>
        <div class="media-body">
            <div>
                <span>
                    Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                </span>
                <span class="float-right">
                    <br /><br />
                    <button class="btn btn-warning" type="button">
                        <span class="glyphicon glyphicon-edit btn-xs"></span>
                    </button>
                    <button class="btn btn-danger" type="button">
                        <span class="glyphicon glyphicon-trash btn-xs"></span>
                    </button>
                </span>
                <br />
                <small>
                    <span class="glyphicon glyphicon-time"></span>  23.01.2019 13:23:34 &nsub;
                    <span class="glyphicon glyphicon-user"></span>  ismailsoylemez
                </small>
            </div>
        </div>
    </div>