@using MyOnlineNotesEntities
@model List<Comment>

@using MyOnlineNotesWebApp.Models



@{ 

    OnlineNoteUser user = CurrentSession.User;


}


@foreach (Comment item in Model)
{

    <div class="media">
        <div class="align-self-start mr-3">
            <div class="media-object">
                <br />
                <span class="glyphicon glyphicon-comment">
                </span>
            </div>
        </div>
        <div class="media-body">
            <div>
                <span>
                    @item.Text
                </span>

                @if (user != null && user.Id == item.Owner.Id)
                {
                    <span class="float-right">
                        <br /><br />
                        <button class="btn btn-warning" type="button">
                            <span class="glyphicon glyphicon-edit btn-xs"></span>
                        </button>
                        <button class="btn btn-danger" type="button">
                            <span class="glyphicon glyphicon-trash btn-xs"></span>
                        </button>
                    </span>
                }
                <br />
                <small>
                    <span class="glyphicon glyphicon-time"></span> @item.ModifiedOn  &nbsp; &nbsp; &nbsp;
                    <span class="glyphicon glyphicon-user"></span>  @item.Owner.Username
                </small>
            </div>
        </div>
    </div>








}

