@using MyOnlineNotes.BusinessLayer
@using MyOnlineNotesEntities

@{
    CategoryManager cm = new CategoryManager();
    List<Category> list = cm.List();


}



<h1 class="my-4">Kategoriler</h1>
<div class="list-group">

    <a href="@Url.Action("Index","Home")"   class="list-group-item active"><span class="fas fa-arrow-circle-right mr-1"></span>Tümü</a>

    @foreach (var cat in list)
    {
        <a href="/Home/ByCategory/@cat.Id" title="@cat.Description" class="list-group-item"><span class="fas fa-arrow-circle-right mr-1"></span>@cat.Title</a>
    }


</div>