@using MyOnlineNotesEntities.Messages

@model MyOnlineNotesWebApp.ViewModels.ErrorViewModel

@{
    ViewBag.Title = Model.Title;
}




<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


@{
    string js = string.Empty;

    if (Model.IsRedirecting == true)
    {
        js = "setTimeout(function () {window.location = '" + Model.RedirectUrl + "';}, " + Model.RedirectingTimeout + " );";
    }
}


<script>
    //sayfa yüklendiğinde footer elementini gizle
    $(function () {

        //$("footer").hide();

        @Html.Raw(js);
    });
</script>
<!------ Include the above in your HEAD tag ---------->

<div class="card text-white bg-danger ml-lg-5  align-items-center ml-lg-auto mr-auto " style="width: 100rem; height: 15rem; border:solid black ; border-radius:14px 14px 14px 14px ">
    <div class="card-header ">@Model.Header</div>
    <div class="card-body mt-md-4">
        <div>
            <h5 class="card-title">@Model.Title<span class="ml-1 fas fa-check"></span></h5>
        </div>
        <p class="text-justify">
            @foreach (ErrorMessageObj msg  in Model.Items)
            {
                @msg.Message<br />
            }
        </p>

    </div>
</div>


