@{
    ViewBag.Title = "Yetkisiz Erişim";
}

<style>
    .css{
        border-style:groove;
        border-color:red;
        border-collapse:separate;
        border-radius:10px

    }




</style>

<div class="row justify-content-center">
    <div class="col-md-4 css">

        <h1><span class="glyphicon glyphicon-remove-circle"></span> Yetkisiz Erişim</h1>
        <p>
            Bu sayfaya erişim yetkiniz bulunmamaktadır.
            <br /><br />
            @BootstrapHelper.LinkButton("/Home/Index", "primary", "", "", "home", " Ana Sayfaya Git!")
        </p>

    </div>
</div>
